---
// Component imports and setup JavaScript go here!
import BaseLayout from '../../../layouts/BaseLayout.astro'
import {generateCategoryData} from '../../../utils/helpers.js'

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../*.mdx');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
  const allCategoriesUnique = new Set();
  sortedPosts.forEach(post => {
    post.frontmatter.categories && post.frontmatter.categories.map(category => {
      allCategoriesUnique.add(category);
    })
  })
  const allCategoriesData = generateCategoryData(allCategoriesUnique);
   // map through the categories array
  return allCategoriesData.map((category) => {
    // filter the posts that match the given category
    const posts = sortedPosts.filter((post) => post.frontmatter.categories.includes(category.name))
      return {
      params: {slug: category.slug}, 
      props: {
        category: category.name, 
        posts: posts
      }
    };
  });
}

const {category, posts} = Astro.props;
const title = `Blog Posts Tagged with ${category}`
---

<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <ul>
      {posts.map(post => (
        <li><a href={post.url}>{post.frontmatter.title}</a></li>
      ))}
    </ul>
  </div>
</BaseLayout>