---
// Component imports and setup JavaScript go here!
import BaseLayout from '../../../layouts/BaseLayout.astro'
import {generateCategoryData} from '../../../utils/helpers.js'
const allPosts = await Astro.glob('../*.mdx');
const allCategoriesUnique = new Set();

allPosts.forEach(post => {
  post.frontmatter.categories && post.frontmatter.categories.map(category => {
    allCategoriesUnique.add(category);
  })
})

// console.log(allCategoriesUnique);

const allCategoriesData = generateCategoryData(allCategoriesUnique);

// console.log(allCategoriesData);
const title = "Blog Categories"
---

<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <ul>
      {allCategoriesData.map(category => (
        <li><a href={`/blog/categories/${category.slug}`}>{category.name}</a></li>
      ))}
    </ul>
  </div>
</BaseLayout>