---
// Component imports and setup JavaScript go here!
import BaseHead from '../components/BaseHead.astro'
import {generateCategoryData} from '../utils/helpers.js'
import {Icon} from 'astro-icon'

const {content} = Astro.props;
const allCategoriesData = generateCategoryData(content.categories);
// console.log(allCategoriesData);
---

<html lang="en">
	<head>
		<BaseHead title={content.title} />
    <style>
      :global(img) {
        width: 200px;
        height: auto;
      }
      article {
        margin: 0 auto;
        max-width: 860px;
      }
    </style>
	</head>

	<body>
    <a href="/blog/feed.xml">
      <Icon pack="mdi" name="rss" width="24" height="24" />    
    </a>
    <p>Categories</p>
    <ul>
      {allCategoriesData.map(category => (
        <li><a href={`/blog/categories/${category.slug}`}>{category.name}</a></li>
      ))}
    </ul>
    <article>
		  <slot />
    </article>
	</body>
</html>
